.cartList {
  display: none;
  box-shadow: 0px 2px 12px #3C3C3B33;
  border-radius: 8px;
  height: calc(100vh - 180px);
  & h3 {
    margin: 16px 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
  @media(min-width: 768px) {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    width: 380px;
    margin: 48px 0 0 8px;
  }
  @media(min-width: 992px) {
    min-width: 420px;
    width: 420px;
    margin: 48px 0 0 32px;
  }
}

.cartListItems {
  flex-grow: 1;
  padding: 0 24px;
  overflow-y: auto;
}

.cartListTotal {
  border-top: 1px solid #D0D0D0;
  padding: 16px 24px;
  & h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 8px;
  }
  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    & span{
      color: var(--greyText);
    }
  }
}

.cartListTotalMobile {
  box-shadow: 0px 2px 12px 0px #3C3C3B33;
  padding: 16px 24px;
  width: 100%;
  gap: 0px;
  border-radius: 8px 8px 0px 0px;
  opacity: 0px;

  & h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 8px;
  }

  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    & span {
      color: var(--greyText);
    }
  }
}

