.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  overflow: auto;
  @media(min-width:768px) {
    flex-direction: row;
  };
  @media(min-width: 992px){
    margin: 30px 75px;
  }
}
